set autoindent
set historylog
set morespace
set multibuffer
set nowrap
set smarthome
set smooth
set tabsize 4
set regexp

## PHP syntax highlighting
##
syntax "php" "\.php$" "\.php[2345s]$" "\.phtml$"
#functions
color magenta "([A-Za-z0-9])"
#numbers
color blue "[0-9]"
#specil
color white "(^|[^A-Za-z0-9])(<\?php|\?>|var|and|or|default|class|extends|true|false|global|function|new|switch|case|break|next|prev|elseif|if|else|foreach|for|as|do|while|exit|die|declare|require_once|require|include_once|include|return|echo|static|array|isset)([^A-Za-z0-9])"
#types
color red "([^A-Za-z0-9])|[^A-Za-z](null|int|string|float|bool|object|resource)[^A-Za-z0-9_]+[^A-Za-z]"
#strings
color yellow ""(\\.|[^\"])*""
color yellow "'(\\.|[^\'])*'"
#Variables
color cyan "\$[]\[A-Za-z0-9_'\"]*"
#comments
color green "//.*"
color green "#.*"
color green start="/\*" end="\*/"

#xml syntax / xul
syntax "ml" ".*\.([jrs]?html?|xml|sgml?|xul)$"
color red    "&[^;]*;"
color blue "(<|</)[^> /]+"
color magenta "</?|/?>"
color red "( |  )[^ =]+ ?="
color black "="

color cyan ""(\\.|[^\"])*""
color cyan "'(\\.|[^\'])*'"

color green start="<!DOCTYPE" end="[/]?>"
color green start="<!--" end="-->"
color green start="<\?" end="\?>"

include "/usr/share/nano/sh.nanorc"
include "/usr/share/nano/nanorc.nanorc"
